@tailwind preflight;
@tailwind utilities;

/* Your custom CSS here */
.app-logo {
  background-image: url('/images/applogo-default.png');
  background-repeat: no-repeat;
  &.default {
    background-position: center center;
  }
  &.compact {
    background-position: 2px center;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 72px;
      width: 10px;
      position: absolute;
      right: 0;
      top: 0;
      background: #FFE300;
    }
  }
}

.search-icon {
  background-image: url('/images/icon-search.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-out;
  &:hover,
  &:focus,
  &:active {
    background-image: url('/images/icon-search-hover.png');
  }
}

.search-input-icon {
  background-image: url('/images/icon-search-bar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 32px;
  width: 32px;
  top: 50%;
  margin-top: -16px;
}

.app-header {
  .app-logo-wrap {}
  .searchbar-wrap {
    .searchbar-transition-container {
      transition: all 0.3s ease-out;
      &.searchbar-closed {
        transform: translateY(-100%);
      }
      &.searchbar-opened {
        transform: translateY(0%);
      }
    }
  }
}

.hero-image-wrapper {
  .hero-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.poster-wrapper {
  transition: all 0.3s ease-out;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.05);
    .poster-image {
      box-shadow: #FFE300 0 0 3px 5px;
    } 
  }
  .poster-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-out;
  }
  .poster-header {
    top: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}