@tailwind preflight;
@tailwind utilities;

/* Your custom CSS here */
.app-logo {
  background-image: url('/images/applogo-default.png');
  background-repeat: no-repeat;
  &.default {
    background-position: center center;
  }
  &.compact {
    background-position: 2px center;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 72px;
      width: 10px;
      position: absolute;
      right: 0;
      top: 0;
      background: #FFE300;
    }
  }
}

.search-icon {
  background: url('/images/icon-search.png')
}